@import '../../css/global.scss';
.mainView{
    width: 100%;

}
.animView{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    flex-wrap: wrap;
    margin-top: 40px;

    .animCard{
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            margin-top: 20px;
            text-decoration: none;
        }
    }
    
}