@import '../../css/global.scss';
.button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border-radius: 3px;
    border: none;
    outline: 1px double transparent;
    min-width: 150px;
    height: 40px;
    background-color: $primary-color;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all $speed-normal;
    overflow: hidden;
    font-family: Roboto;
    .btinIcon{
        margin-right: 10px;
        margin-left: -5px;
        width: 16px;
        height: 16px;
    }
}
.button:disabled{
    background-color: $secondary-light-color;
    color: $secondary-color;
}

.buttonMain:focus,.buttonActive:focus,.buttonSmall:focus,.buttonText:focus{
    outline-offset: 2px;
    outline: 2px solid $primary-color;
    transition: none;
}
.buttonSmall:focus{
    outline: 1px solid $purple-color;
}
.buttonText:focus{
    outline: 1px solid $secondary-color;
}

.buttonSmall{
    height: 30px;
    min-width: 100px;
    background-color: $purple-color;
}


.buttonMain:focus:not(:focus-visible),
.buttonActive:focus:not(:focus-visible),
.buttonSmall:focus:not(:focus-visible) ,
.buttonText:focus:not(:focus-visible) 
{
    outline: none;
}
.buttonText{
background: none;
color: $dark-color;
font-weight: 700;
// min-width: 130px;
margin-right: 20px;
}


.buttonText:hover{
    color: $primary-color;
    filter: none !important;
}
.buttonSearch{
    position: relative;
    padding-left: 20px !important;
    pointer-events: none;
    background-color: $secondary-light-color;
    cursor: pointer;
}
.buttonDelete{
    background-color: $error-color;
}

.buttonSearch:after{
    position: absolute;
    content: '';
    left: 5px;
    width: 16px;
    height: 16px;
    background-image: url('../../images/small-loader.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
    animation: spinner $speed-quick linear infinite;
}
.button:hover:enabled{
    filter: brightness(1.4);
}
.buttonActive:not(.buttonText):before{
    position: absolute;
    content: " ";
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    opacity: 0.2;
    background-color: white;
    animation: scaleOut $speed-quick forwards;
    filter: brightness(0.75);
    outline: 2px solid $primary-color;
}
.darkpurple{
    background-color: $purple-dark-color;
}
.buttonSaving, .buttonSaving:hover{
    position: relative;
    background-color: $secondary-light-color;
    color: $secondary-color;
    filter: none !important;
    img{
        position: absolute;
        left: 10px;
        animation: spinner $speed-quick linear infinite;
    }
}

@keyframes scaleOut {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    50%{
        opacity: 0.25;
    }
    100%{
        opacity: 0;
        transform: scale(3);
    }
    
}