@import '../../css/global.scss';
.userPanel{
    height: 100px;
    margin-bottom: 5px;
    background-color: $secondary-ultra-light-color;
    border-radius: $radius-small;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 60px 1fr 80px 60px;
    gap: 20px;
    padding-left: 10px;
    align-items: center;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all $speed-normal;

    .userPic{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        
    }
    .picHolder{
        width: 60px;
        height: 60px;
        overflow: hidden;
        background-color: $secondary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .userName, .userEmail, .useroffice{
        color: $secondary-color;
        font-size: 14px;
        font-weight: 700;
    }
    .userEmail, .useroffice{
        font-weight: 400;
    }
    .useroffice{
        margin-top: 10px;
    }
    .role{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $secondary-color;
        border-radius: 20px;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        height: 20px;
    }
}   

.userPanel:not(.userPanelActive):hover{
    border: 1px dashed $secondary-medium;
    
    // background-color: $secondary-light-color;
}
.userPanelActive{
    border: 1px solid $primary-color;
}
.userRadio{
    height: 20px;
}