@import '../../css/global.scss';

.label{
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: $secondary-color;
   cursor: default;
   label{
    font-size: 12px !important;
    .subText{
        font-weight: normal;
        text-transform: none;
        margin-left: 5px;
        animation: scaleIn 2$speed-normal forwards;
        color: $error-color;
    }
    
   }
}
