@import '../../css/global.scss';

.label{
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: $secondary-color;
   cursor: default;
   label{
    font-size: 12px !important;
    display: flex;
    align-items: center;
    // justify-content: center;
    svg{
        margin-left: 5px;
        margin-top: -2px;
        cursor: pointer;
    }
    
   }
}
