@import '../../css/global.scss';

.label{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    color: $secondary-color;
   cursor: default;
}
.subText{
    font-weight: normal;
    text-transform: none;
    margin-left: 5px;
    animation: scaleIn 2s forwards;
}
