@import '../../css/global.scss';
.colorViews{
    width: 100%;
    padding: 40px;
    display: block;

    .titleArea{
        h1{
            
        }
        
        margin-bottom: 40px;
    }
   
}
.colorGroup{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.colorSwatchesLayout{
    display: grid;
    grid-template-columns: repeat(auto-fill, 120px);
    width: 100%;
    padding: 0px;
    gap: 20px;
}
.colorInfo{
    width: 160px;
    height: 160px;
}
.colorName{
    margin-bottom: 10px;
    color: $secondary-color;
    font-weight: 700;
    font-size: 13px;
}