// COLORS
$primary-color: #0073E6;
$light-blue: #BFDBF8;
$ultra-light-blue: #e4f2fb;
$primary-hover-color: #4096EC;
$primary-dark: #003B76;
$primary-darker: #425266;
$primary-light: #6BC4FF;
$secondary-color: #455E78;
$secondary-light-color:#CDD8E3;
$secondary-medium: #9BB2C9;
$secondary-ultra-light-color: #F3F5F6;
$placeholder:#768EAF;
$dark-color: #003B76;
$shadow-color: rgba(206,216,220,0.5);
$purple-color: #9C5AF2;
$purple-dark-color: #653496;
$purple-light-color:#CE82FF;
$error-color: #FF4330;
$orange-default: #FE6300;
// $light-blue: #76C8FE;
$light-green: #1FCDAB;
small{
    color: $secondary-color;
    font-size: 14px;
}
// ANIMATION
$speed-quick: 0.2s;
$speed-normal: 0.4s;
$speed-slow: 0.6s;
$ease-bounce: cubic-bezier(0.34, 1.56, 0.64, 1);

// BORDERS
$radius-small: 3px;

// SHADOW
$shadow: 4px 4px 0 $shadow-color;
$shadow-large: 8px 8px 0 $shadow-color;
$shadow-blur: 0 0 10px rgba(0,76,151,0.5);

h1{
    font-size: 24px;
    font-weight: 500;
    color: $secondary-color;
    margin: 0;
    padding: 0;
}

@keyframes spinner {
 0%{
    transform: rotate(0deg);
 } 
 100%{
    transform: rotate(360deg);
 }  
}

@keyframes slideDown {
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(-20px);
    }
}
@keyframes slideUp {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-100px);
    }
}

@keyframes slideUpModal {
    0%{
        transform: translateY(40px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes slideIn {
    0%{
        width: 0;
    }
    100%{
        width: 7px
    }
}
@keyframes showCross {
    0%{
        opacity: 0;
        transform: rotate(45deg) scale(0);
    }
    100%{
        opacity: 1;
        transform: rotate(45deg) scale(1);
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes scaleIn {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
    
}

@keyframes scaleOutRadio{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    50%{
        opacity: 0.2;
    }
    100%{
        opacity: 0;
        transform: scale(1.5);
    }
    
}

@keyframes grow {
    0%{
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(1);
    }
}

@keyframes scaleOutCheckbox {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
        transform: scale(1.5);
    }
    
}

// @keyframes bounce { 
//     0% { transform: translateY(8px); }
//     100% { transform: translateY(-8px); }
//   }

@keyframes bounce { 
    0% { transform: translateY(0px) rotate(180deg); }
    50% { transform: translateY(-8px) rotate(180deg); }
    100% { transform: translateY(0px) rotate(180deg); }
  }

  @keyframes progressAppear { 
    0% { transform: translateY(60px); }
    100% { transform: translateY(0px); }
  }
  @keyframes progressHide { 
    0% { transform: translateY(0px); }
    100% { transform: translateY(60px); }
  }