@import '../../css/global.scss';

.textWrap{
    position: relative;
    width: auto;
    height: 200px;
    margin-bottom: 40px;

    textarea{
        // width: calc(100% - 40px);
        width: 500px;
        height: calc(100% - 60px);
        min-width: 320px;
        padding: 50px 20px 20px 16px;
         outline: 1px solid $secondary-light-color;
         border: none;
         border-left: 5px solid transparent;
        transition: all $speed-quick;
        color: $secondary-color;
        font-size: 14px;
        font-family: 'Roboto';
    
    }
    textarea::placeholder{
        color: $secondary-color;
        opacity: 0.5;
        font-size: 14px;
    }
    textarea:focus{
        outline: 1px solid $primary-color;
        border: none;
        border-left: 5px solid $primary-color;
    
    }
    
    .label{
        position: absolute;
        top: 0px;
        left: 20px;
        padding-top: 20px;
        padding-bottom: 10px;
        width: calc(100% - 35px);
        transition: color $speed-quick;
        background-color: white;
    }

    @-moz-document url-prefix() {
        .label{

            top: 1px;
        }
      }

}
.textWrapFocused{
    .label{
        color: $primary-color;
    }
   
}
// .textWrapFocused:before{
//     position: absolute;
//     content: "";
//     width: 5px;
//     height: calc(100% + 2px);
//     background-color: $primary-color;
//     animation: slideIn $speed-quick $ease-bounce forwards;
// }

.textError{
    textarea{
        border: 1px solid $error-color !important;
    }
    .label{
        color: $error-color;
    }
}
.textErrorFocused:before{
    position: absolute;
    z-index: 5;
    content: "";
    width: 7px;
    height: calc(100% + 2px);
    background-color: $error-color;
    animation: slideIn $speed-quick $ease-bounce forwards;
}

